@inject IViewLocalizer localizer

<div class="row">
    <div class="col-xs-12">
        <img src="~/images/russia_flag.png" />
    </div>
</div>

<br />

<div class="well">
    @localizer["Coming soon"]
</div>