@inject IHtmlLocalizer<HomeController> localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <p>@localizer["Learn"]<a href="https://docs.microsoft.com/aspnet/core">@localizer["Building"]</a>.</p>
</div>
